body {
    text-align: center;
    background-color: rgb(166, 233, 227);
    border-style:groove;
}
.q0 {
    color: cyan;
    border-style: dotted;
}
.q1 {
    color: greenyellow;
}
.q2 {
    color: greenyellow;
}
.q3 {
    color: greenyellow;
}
.q4 {
    color: greenyellow;
}
